*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  min-height: 100vh;
  background: no-repeat center/cover url(../img/Hogwarts_Background.webp);
}

header {
  height: 113px;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.651);
  display: flex;
  align-items: center;
  z-index: 99;
}

.nav__logo img {
  width: 4rem;
  margin: 0.5rem;
}

main {
  padding: 1rem 0;
  margin: 0 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.niffleurImg.active,
.bubble.active {
  transform: translateX(0rem);
}

.niffleurImg {
  position: absolute;
  width: 15rem;
  left: 5px;
  bottom: 45px;
  transform: translateX(-50rem);
  transition: all 0.3s ease-in-out;
  z-index: 98;
}

.bubble {
  position: absolute;
  left: 150px;
  bottom: 225px;
  width: 270px;
  padding: 3rem 2rem;
  text-align: center;
  color: #fff;
  background: rgba(85, 95, 103, 0.69);
  border-radius: 220px / 140px;
  box-shadow: -5px -5px 10px 0px rgba(255, 255, 255, 0.5),
    5px 5px 10px 0px rgba(0, 0, 0, 0.3);
  transform: translateX(-50rem);
  z-index: 99;
}

.bubble::before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50px;
  width: 30px;
  height: 30px;
  background: rgba(85, 95, 103, 0.69);
  border-radius: 30px;
  box-shadow: -5px -5px 10px 0px rgba(255, 255, 255, 0.5),
    5px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

.bubble::after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 30px;
  width: 15px;
  height: 15px;
  background: rgba(85, 95, 103, 0.69);
  border-radius: 15px;
  box-shadow: -5px -5px 10px 0px rgba(255, 255, 255, 0.5),
    5px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

.bubble__text {
  font-size: 1.3rem;
  letter-spacing: 1px;
}

.box-outer {
  position: relative;
  width: 50%;
  border: 2px solid #9d523c;
  transform: scale(0);
  transition: all 0.3s ease-in-out;
}

.box-outer.active {
  transform: scale(1);
}

.activityChoice {
  margin: 0.4rem;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  border: 2px solid #f2a65a;
  background-color: rgba(0, 0, 0, 0.527);
}

.activityChoice:before,
.activityChoice:after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;

  border: 2px solid #f2a65a;

  top: 7px;
}
.activityChoice:before {
  left: 7px;
}
.activityChoice:after {
  right: 6px;
}
.box-outer {
  min-width: 18rem;
  position: relative;
  border: 2px solid #f2a65a;
}
.box-outer:before,
.box-outer:after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;

  border: 2px solid #f2a65a;

  bottom: 6px;
}
.box-outer:before {
  left: 7px;
}
.box-outer:after {
  right: 6px;
}

.activity {
  width: clamp(16rem, 70%, 80%);
  background: linear-gradient(315deg, #9d523c 0%, #f2a65a 74%);
  border: 2px solid #9d523c;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  text-decoration: none;
  text-align: center;
  color: #ffd700;
  font-size: 2rem;
  text-shadow: 4px 0px 3px rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.192);
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer img {
  width: 2.5rem;
}

@media (max-width: 880px) {
  .niffleurImg {
    width: 8rem;
  }
  .bubble {
    left: 70px;
    bottom: 155px;
    width: 150px;
    padding: 1.5rem 0.5rem;
    border-radius: 230px;
  }
}
